* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    margin: 0 auto;
}

html {
    background-color: rgb(62, 62, 62);
}

main {
    display: flex;
}

h1 {
    font-size: 8em;
    font-weight: 800;
    text-align: center;
    color: white;
}

.container {
    width: 80vw;
    height: 80vh;
    position: absolute;
    background: rgb(152, 162, 172);
    top: 50%;
    transform: translate(11%, -50%);
    box-shadow: 0px 0px 4px 4px white;
}