    <div class="chatroom">
        <button>x</button>
        <ul></ul>
    </div>
    <button class="plsChat"></button>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    </body>
</html>